{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<section class="height-100 bg-gradient-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <h1 class="h2 mb-4 text-center"> {% translate 'Recover Account' %}</h1>
                <div class="card py-3 shadow-lg">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.email.errors }} 
                                <input id="email" type="email" class="form-control"
                                    placeholder="{% translate 'Enter your mail address here' %}">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-block btn-lg btn-primary" type="submit" value="{% translate 'Reset my password' %}"> 
                            </div>
                        </form>
                        <div class="text-center text-small mt-3">
                            <span>Already know your password? <a href="#">Log in here</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
