
{% extends "base.html" %}
{# Load the tag library #}
{% load static bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">

<head>
    
    
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Bootstrap based News, Magazine and Blog Theme">
    {% block bootstrap5_title %} Books, Blog and Magazine {% endblock %} 
   
    <!-- Theme CSS -->
</head>

<body> 
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                {% block sidebar %} {% endblock %}
            </div>
            <div class="col-lg-8">
                {% block content %} {% endblock %}
                {% block pagination %} {% endblock %}
            </div>
        </div>
    </div>
{% block after_content %}
<section class="section">
    <div class="container">
        <!-- Widgets START -->
        <div class="row pt-5">
            <!-- Footer Widget -->
            <div class="col-md-6 col-lg-4 mb-4">
                <img class="light-mode-item" src="assets/images/logo.svg" alt="logo">
                <img class="dark-mode-item" src="assets/images/logo-light.svg" alt="logo">
                <p class="mt-3">The next-generation blog, news, and magazine theme for you to start sharing your
                    stories today! This Bootstrap 5 based theme is ideal for all types of sites that deliver the
                    news.</p>
                <div class="mt-4">©2022 <a href="https://www.webestica.com/" class="text-reset btn-link"
                        target="_blank">Webestica</a>. All rights reserved
                </div>
            </div>
    
            <!-- Footer Widget -->
            <div class="col-md-6 col-lg-3 mb-4">
                <h5 class="mb-4">Navigation</h5>
                <div class="row">
                    <div class="col-6">
                        <!-- Item -->
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link pt-0" href="#">Features</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Style Guide</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Get Theme</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <!-- Item -->
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link pt-0" href="#">News</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Career <span
                                        class="badge text-bg-danger ms-2">2 Job</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Technology</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Startups</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Gadgets</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!-- Footer Widget -->
            <div class="col-sm-6 col-lg-3 mb-4">
                <h5 class="mb-4">Browse by Tag</h5>
                <!-- Item -->
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-primary-soft">Travel</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-warning-soft">Business</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-success-soft">Tech</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-danger-soft">Gadgets</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-info-soft">Lifestyle</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-primary-soft">Vaccine</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-warning-soft">Marketing</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-success-soft">Sports</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-danger-soft">Covid-19</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-info-soft">Politics</a></li>
                </ul>
            </div>
    
            <!-- Footer Widget -->
            <div class="col-sm-6 col-lg-2 mb-4">
                <h5 class="mb-4">Our Social handles</h5>
                <!-- Item -->
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link pt-0" href="#"><i
                                class="fab fa-facebook-square fa-fw me-2 text-facebook"></i>Facebook</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i
                                class="fab fa-twitter-square fa-fw me-2 text-twitter"></i>Twitter</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i
                                class="fab fa-linkedin fa-fw me-2 text-linkedin"></i>Linkedin</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i
                                class="fab fa-youtube-square fa-fw me-2 text-youtube"></i>YouTube</a></li>
                </ul>
            </div>
        </div>
        <!-- Widgets END -->
    </div>
</section>
{% endblock %}
{% block bootstrap5_extra_script %}
    <!-- =======================
JS libraries, plugins and custom scripts -->

    <!-- Bootstrap JS -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.js"></script>

    <!-- Template Functions -->
    <script src="assets/js/functions.js"></script>
{% endblock %}
</body>

</html>