{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

{% block title %}Share a post{% endblock %}
{% block content %}
<div class="container">
    {% if sent %}
    <h1>E-mail successfully sent</h1>
    <p>
        "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
    </p>
    {% else %}
    <h1>Share "{{ post.title }}" by e-mail</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %} 
        {% buttons %} 
            <input type="submit" class="btn btn-primary" value="Send e-mail">
        {% endbuttons %}
    </form>
    {% endif %}
</div>
{% endblock %}